<footer class="site-footer" id="mastfoot">
    <a href="#" id="toTop"><span class="icon-arrow-up"> <svg xmlns="http://www.w3.org/2000/svg" width="7.479"
                                                             height="25.083" viewBox="0 0 7.479 25.083">
        <path fill="none" d="M12.667-3.229v15" />
        <path
                d="M7.382 6.31c-.982-.852-2.36-2.982-3.108-4.613v-.001h-.001C3.948.986 3.74.37 3.74 0c0 .37-.208.986-.533 1.696h-.001v.001C2.458 3.328 1.08 5.458.097 6.31c.619-.536 1.828-.837 3.108-.902v19.741h1.068V5.407c1.281.066 2.49.366 3.109.903z" />
      </svg></span></a><br>
    <span class="footer-pretitle">Do you have an idea?</span>
    <h2 class="section-title">Contact us</h2><span class="footer-email">E-mail: <a
                href="mailto:art@popwebdesign.net?subject=Popart%20contact;%20Bottom_info&bcc=mail-archive@popwebdesign.net"
                class="no-anim">art@popwebdesign.net</a></span>
    <div class="footer-info container">
        <ul>
            <li class="finfo-title">Company</li>
            <li><a href="about_us.html" title="About Popart">About Us</a></li>
            <li><a href="popart-team-eng.html" title="Meet our team">PopArt Team</a></li>
            <li><a href="awards.html" title="Awards & nominations">Awards</a></li>
            <li><a href="careers.html" title="Career opportunities">Careers</a></li>
            <li><a href="popart-clients.html" title="Our clients">Clients</a></li>
            <li><a href="media.html" title="Press & Media">Press</a></li>
            <li><a href="terms-of-use.html" title="Terms and conditions">Terms of Use</a></li>
            <li><a href="privacy-policy.html" title="Privacy Policy">Privacy Policy</a></li>
            <li><a href="cookie-policy.html" title="Cookie Policy">Cookie Policy</a></li>
            <li><a href="sitemap.html" title="Sitemap for users">Sitemap</a></li>
        </ul>
        <ul>
            <li class="finfo-title">Education</li>
            <li><a class="no-anim" href="popart_blog/en/" title="PopArt blog">BLOG</a></li>
            <li><a href="wiki-popart.html" title="PopArt Wiki - Knowledge base">PopArt Wiki</a></li>
            <li><a href="tutorials.html" title="Web Tutorials">Tutorials</a></li>
        </ul>
        <address>
            <ul>
                <li class="finfo-title">Novi Sad</li>
                <li>PopArt Studio d.o.o.</li>
                <li>Address: Hajduk Veljkova 11</li>
                <li>Master center, 7th floor</li>
                <li>21112 Novi Sad, Serbia</li>
                <li>Tel: <a href="tel:+381212553649" class="no-anim">+381 21 2553649</a></li>
                <li>Cell: <a href="tel:+381655052094" class="no-anim">+381 65 5052094</a></li>
                <li>TIN: 106642910</li>
                <li>Company ID: 20650583</li>
                <li>Working hours:</li>
                <li>Mon - Fri 08:00h - 16:00h</li>
            </ul>
        </address>
        <address>
            <ul>
                <li class="finfo-title">Auckland</li>
                <li>Address: 7 Cintra Place</li>
                <li>Glen Innes</li>
                <li>1072 Auckland, New Zealand</li>
                <li><a
                            href="mailto:art@popwebdesign.net?subject=Popart%20contact;%20Bottom_info;%20Auckland;&bcc=mail-archive@popwebdesign.net"
                            class="no-anim">art@popwebdesign.net</a></li>
                <li>Cell: <a class="no-anim" href="tel:+6421458117">+64 21 458117</a></li>
                <li>Working hours:</li>
                <li>Mon - Fri 08:00 - 16:00h</li>
            </ul>
        </address>
    </div>
    <div class="footer-social">
    <span class="fb-en">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <path fill="#fff" d="M19 6h5V0h-5c-3.86 0-7 3.14-7 7v3H8v6h4v16h6V16h5l1-6h-6V7c0-.542.458-1 1-1z" /></svg>
    </span>
        <span class="tw-en">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <path fill="#fff"
              d="M32 7.075a12.941 12.941 0 0 1-3.769 1.031 6.601 6.601 0 0 0 2.887-3.631 13.21 13.21 0 0 1-4.169 1.594A6.565 6.565 0 0 0 22.155 4a6.563 6.563 0 0 0-6.563 6.563c0 .512.056 1.012.169 1.494A18.635 18.635 0 0 1 2.23 5.195a6.56 6.56 0 0 0-.887 3.3 6.557 6.557 0 0 0 2.919 5.463 6.565 6.565 0 0 1-2.975-.819v.081a6.565 6.565 0 0 0 5.269 6.437 6.574 6.574 0 0 1-2.968.112 6.588 6.588 0 0 0 6.131 4.563 13.17 13.17 0 0 1-9.725 2.719 18.568 18.568 0 0 0 10.069 2.95c12.075 0 18.681-10.006 18.681-18.681 0-.287-.006-.569-.019-.85A13.216 13.216 0 0 0 32 7.076z" />
      </svg>
    </span>
        <span class="gp-en">
      <svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
                d="M14.6181 2.14083C13.1684 0.752119 11.17 -0.0065918 8.98194 -0.0065918C5.64226 -0.0065918 3.5829 1.3618 2.45161 2.51341C1.04935 3.92922 0.25 5.81244 0.25 7.66857C0.25 10.0057 1.22548 11.8008 2.86484 12.4715C2.97323 12.5189 3.08839 12.5392 3.19677 12.5392C3.54226 12.5392 3.81323 12.3157 3.90806 11.9499C3.96226 11.7399 4.09097 11.2318 4.14516 11.0082C4.2671 10.5679 4.16548 10.3579 3.90806 10.0531C3.43387 9.49083 3.2171 8.82696 3.2171 7.96664C3.2171 5.40599 5.12742 2.68276 8.66355 2.68276C11.4681 2.68276 13.209 4.2747 13.209 6.84212C13.209 8.46115 12.8635 9.96502 12.2268 11.0624C11.7865 11.8279 11.0142 12.7424 9.82194 12.7424C9.3071 12.7424 8.84645 12.5324 8.55516 12.1599C8.27742 11.8144 8.18936 11.3605 8.29774 10.8931C8.41968 10.3647 8.59581 9.80922 8.75839 9.28083C9.05645 8.30534 9.34097 7.38405 9.34097 6.65244C9.34097 5.39244 8.56871 4.55244 7.4171 4.55244C5.95387 4.55244 4.80903 6.03599 4.80903 7.93276C4.80903 8.86083 5.0529 9.55857 5.16807 9.82276C4.98516 10.6018 3.88774 15.2421 3.68452 16.116C3.56258 16.6241 2.84452 20.6547 4.03677 20.9799C5.38484 21.3321 6.59065 17.4031 6.71258 16.9628C6.81419 16.6037 7.15968 15.2353 7.36968 14.4021C8.02 15.0253 9.06323 15.4521 10.0794 15.4521C11.9965 15.4521 13.7171 14.5918 14.9297 13.027C16.1084 11.5095 16.7519 9.38921 16.7519 7.06567C16.7587 5.24341 15.9729 3.44825 14.6181 2.14083V2.14083Z"
                fill="#fff" />
      </svg>

    </span>
        <span class="li-en">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <path fill="#fff"
              d="M12 12h5.535v2.837h.079c.77-1.381 2.655-2.837 5.464-2.837C28.92 12 30 15.637 30 20.367V30h-5.769v-8.54c0-2.037-.042-4.657-3.001-4.657-3.005 0-3.463 2.218-3.463 4.509V30H12V12zM2 12h6v18H2V12zm6-5a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
      </svg>
    </span>
        <span class="bh-en">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <path fill="#fff"
              d="M9.281 6.412c.944 0 1.794.081 2.569.25.775.162 1.431.438 1.988.813.55.375.975.875 1.287 1.5.3.619.45 1.394.45 2.313 0 .994-.225 1.819-.675 2.481-.456.662-1.119 1.2-2.006 1.625 1.213.35 2.106.962 2.706 1.831.6.875.887 1.925.887 3.163 0 1-.194 1.856-.575 2.581a5.048 5.048 0 0 1-1.556 1.781c-.65.462-1.4.8-2.237 1.019-.831.219-1.688.331-2.575.331H0V6.412h9.281zm-.562 7.951c.769 0 1.406-.181 1.906-.55.5-.363.738-.963.738-1.787 0-.456-.081-.838-.244-1.131a1.813 1.813 0 0 0-.669-.688 2.643 2.643 0 0 0-.956-.344 5.871 5.871 0 0 0-1.113-.1h-4.05v4.6h4.388zm.237 8.381c.425 0 .831-.038 1.213-.125.387-.087.731-.219 1.019-.419.287-.194.531-.45.706-.788.175-.331.256-.756.256-1.275 0-1.012-.287-1.738-.856-2.175-.569-.431-1.325-.644-2.262-.644h-4.7v5.419h4.625zm13.707-.069c.587.575 1.431.863 2.531.863.788 0 1.475-.2 2.044-.6s.913-.825 1.044-1.262h3.45c-.556 1.719-1.394 2.938-2.544 3.675-1.131.738-2.519 1.113-4.125 1.113-1.125 0-2.131-.181-3.038-.538a6.467 6.467 0 0 1-2.3-1.531 7.019 7.019 0 0 1-1.45-2.375c-.337-.919-.512-1.938-.512-3.038a8.3 8.3 0 0 1 .525-2.981c.356-.925.844-1.719 1.494-2.387s1.413-1.2 2.313-1.588c.894-.387 1.881-.581 2.975-.581 1.206 0 2.262.231 3.169.706.9.469 1.644 1.1 2.225 1.887s.994 1.694 1.25 2.706a10.26 10.26 0 0 1 .275 3.175H21.695c0 1.119.375 2.188.969 2.756zm4.493-7.487c-.462-.512-1.256-.794-2.212-.794-.625 0-1.144.106-1.556.319a3.167 3.167 0 0 0-.994.787c-.25.313-.425.65-.525 1.006-.1.344-.163.663-.181.938h6.375c-.094-1-.438-1.738-.906-2.256zM20.887 8h7.981v1.944h-7.981V8z" />
      </svg>
    </span>
        <span class="db-en">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <path fill="#fff"
              d="M16 32C7.175 32 0 24.825 0 16S7.175 0 16 0s16 7.175 16 16-7.175 16-16 16zm13.494-13.812c-.469-.15-4.231-1.269-8.512-.581 1.788 4.912 2.512 8.912 2.656 9.744 3.063-2.075 5.25-5.356 5.856-9.163zM21.337 28.6c-.206-1.2-.994-5.375-2.913-10.363-.031.012-.063.019-.087.031-7.713 2.688-10.481 8.031-10.725 8.531a13.612 13.612 0 0 0 8.387 2.887c1.894 0 3.7-.387 5.338-1.087zM5.844 25.156c.313-.531 4.063-6.738 11.106-9.019.175-.056.356-.113.538-.162a50.041 50.041 0 0 0-1.106-2.319C9.563 15.7 2.938 15.612 2.338 15.606c-.006.137-.006.275-.006.419 0 3.506 1.331 6.712 3.512 9.131zM2.625 13.219c.612.006 6.244.031 12.637-1.662a86.017 86.017 0 0 0-5.069-7.906C6.368 5.457 3.505 8.982 2.624 13.22zM12.8 2.731a73.225 73.225 0 0 1 5.1 8c4.863-1.819 6.919-4.588 7.163-4.938A13.598 13.598 0 0 0 16 2.349a14.22 14.22 0 0 0-3.2.381zm13.781 4.65c-.288.388-2.581 3.325-7.631 5.388.319.65.625 1.313.906 1.981.1.238.2.469.294.706 4.55-.569 9.069.344 9.519.438a13.628 13.628 0 0 0-3.087-8.512z" />
      </svg>
    </span>
        <span class="ig-en">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <path fill="#fff"
              d="M16 2.881c4.275 0 4.781.019 6.462.094 1.563.069 2.406.331 2.969.55a4.952 4.952 0 0 1 1.837 1.194 5.015 5.015 0 0 1 1.2 1.838c.219.563.481 1.412.55 2.969.075 1.688.094 2.194.094 6.463s-.019 4.781-.094 6.463c-.069 1.563-.331 2.406-.55 2.969a4.94 4.94 0 0 1-1.194 1.837 5.02 5.02 0 0 1-1.837 1.2c-.563.219-1.413.481-2.969.55-1.688.075-2.194.094-6.463.094s-4.781-.019-6.463-.094c-1.563-.069-2.406-.331-2.969-.55a4.952 4.952 0 0 1-1.838-1.194 5.02 5.02 0 0 1-1.2-1.837c-.219-.563-.481-1.413-.55-2.969-.075-1.688-.094-2.194-.094-6.463s.019-4.781.094-6.463c.069-1.563.331-2.406.55-2.969a4.964 4.964 0 0 1 1.194-1.838 5.015 5.015 0 0 1 1.838-1.2c.563-.219 1.412-.481 2.969-.55 1.681-.075 2.188-.094 6.463-.094zM16 0c-4.344 0-4.887.019-6.594.094-1.7.075-2.869.35-3.881.744-1.056.412-1.95.956-2.837 1.85a7.833 7.833 0 0 0-1.85 2.831C.444 6.538.169 7.7.094 9.4.019 11.113 0 11.656 0 16s.019 4.887.094 6.594c.075 1.7.35 2.869.744 3.881.413 1.056.956 1.95 1.85 2.837a7.82 7.82 0 0 0 2.831 1.844c1.019.394 2.181.669 3.881.744 1.706.075 2.25.094 6.594.094s4.888-.019 6.594-.094c1.7-.075 2.869-.35 3.881-.744 1.05-.406 1.944-.956 2.831-1.844s1.438-1.781 1.844-2.831c.394-1.019.669-2.181.744-3.881.075-1.706.094-2.25.094-6.594s-.019-4.887-.094-6.594c-.075-1.7-.35-2.869-.744-3.881a7.506 7.506 0 0 0-1.831-2.844A7.82 7.82 0 0 0 26.482.843C25.463.449 24.301.174 22.601.099c-1.712-.081-2.256-.1-6.6-.1z" />
        <path fill="#fff"
              d="M16 7.781c-4.537 0-8.219 3.681-8.219 8.219s3.681 8.219 8.219 8.219 8.219-3.681 8.219-8.219A8.221 8.221 0 0 0 16 7.781zm0 13.55a5.331 5.331 0 1 1 0-10.663 5.331 5.331 0 0 1 0 10.663zM26.462 7.456a1.919 1.919 0 1 1-3.838 0 1.919 1.919 0 0 1 3.838 0z" />
      </svg>
    </span>
        <a href="rss.xml">
      <span>
        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
                  d="M2.79505 15.3999C1.25295 15.3999 0 16.6578 0 18.1906C0 19.7318 1.25303 20.9756 2.79505 20.9756C4.34269 20.9756 5.59424 19.7318 5.59424 18.1906C5.5942 16.6578 4.34277 15.3999 2.79505 15.3999ZM0.0031582 7.13528V11.1601C2.62373 11.1601 5.08823 12.1849 6.94419 14.0417C8.79777 15.8939 9.82106 18.3696 9.82106 21H13.8636C13.8636 13.3543 7.64396 7.13528 0.0031582 7.13528ZM0.00791601 0V4.02683C9.355 4.02683 16.9629 11.6421 16.9629 21H21C21 9.42396 11.5817 0 0.00791601 0Z"
                  fill="#fff" />
        </svg>

      </span>
        </a> </div>
    <small class="copyright"><span>All rights reserved © 2009 - 2020 PopArt
      Studio.</span></small>
</footer>
<div class="site-preloader">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 153.23 153.14"><defs><style>.cls-1{fill:#272727;fill-rule:evenodd;}</style></defs><title>PopZnak</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M153.23,76.64c-.33,42.7-34.2,76.51-76.65,76.5A76.57,76.57,0,1,1,76.72,0C119.12.07,153,33.9,153.23,76.64ZM7.89,76.58c-.19,38.16,31.57,68.84,68.91,68.73s68.62-31.16,68.53-68.93c-.08-37.18-30.78-68.75-69-68.52C38.49,8.09,7.77,38.85,7.89,76.58Z"/><path class="cls-1" d="M73.54,65.71c-5,0-10,0-15,0A11.85,11.85,0,0,1,56,42.31,11.5,11.5,0,0,1,58.56,42q13.92,0,27.84,0a3.66,3.66,0,0,1,3.84,2.93A3.55,3.55,0,0,1,88,49a6.2,6.2,0,0,1-2.11.3c-9,0-18,0-27,0A4.5,4.5,0,0,0,54.13,54,4.45,4.45,0,0,0,58,58.33a11.42,11.42,0,0,0,1.55.07q14.52,0,29,0a11.85,11.85,0,1,1,.62,23.69c-4.6.07-9.2-.08-13.8,0-9,.22-15.5,4.43-19.46,12.51a18.68,18.68,0,0,0-1.84,8c0,1.76,0,3.52,0,5.28a4.54,4.54,0,0,0,9.08.15c.06-1.39,0-2.79,0-4.19A13.57,13.57,0,0,1,77,89.93c4.4,0,8.8,0,13.2,0A20.32,20.32,0,0,0,98.48,51L98,50.8A3.66,3.66,0,1,1,101,44.11a27.62,27.62,0,0,1-11,53.1H77.4c-4.33,0-6.91,2.62-6.89,7,0,1.32,0,2.64,0,4a11.87,11.87,0,0,1-23.73-.09c0-4.24-.1-8.46,1.1-12.61a28.61,28.61,0,0,1,27.2-20.62c4.64,0,9.28,0,13.92,0a4.54,4.54,0,0,0,1.18-8.92,6.55,6.55,0,0,0-1.66-.17Z"/></g></g></svg></div><div id="forms-popup" class="pop-up-wrapper">
    <div class="forms-wrapper container">
        <div id="chose-form" class="form-container">
            <div class="enter-forms-content">
                <p class="form-title-left"><span class="rev-text-wrap"><span class="rev-text temp-hide" data-rev-delay="300">Hello.</span></span><span class="rev-text-wrap"><span class="rev-text temp-hide" data-rev-delay="600"> How can we help you?</span></span></p>
                <div class="form-btn-right">
                    <a href="javascript:;" class="inner-form-btn chose-btn popart-btn white-btn fade-input order-form-btn"
                       data-form="order-form" data-btn-type="open-form">Order</a>
                    <a href="javascript:;" class="inner-form-btn chose-btn popart-btn white-btn fade-input"
                       data-form="contact-us-form" data-btn-type="open-form">Contact</a>
                    <a href="javascript:;" class="inner-form-btn chose-btn popart-btn white-btn fade-input"
                       data-form="careers-form" data-btn-type="open-form">Careers</a>
                </div>
            </div>
        </div>
        <div id="order-form" class="order-form order-form-order form-container">
      <span class="prev-form chose-btn" data-btn-type="close-form"><img
                  src="https://www.popwebdesign.net/assets/svg/undo.svg" alt="back btn" class="undo-img"></span>
            <p><span class="rev-text temp-hide">Order our service</span></p>

            <!-- ***   ORDER FORM   *** -->
            <form class="clear" id="form-order">
                <div class="fade-input form-field half-width full-name-field">
                    <input type='hidden' value="en" name="len" />
                    <input type="text" name="order-name" id="order-name" required>
                    <label for="order-name">Full name *</label>
                    <span class="invalid-input-msg">This field is required</span>
                </div>
                <div class="fade-input form-field half-width company-field">
                    <input type="text" name="order-company" id="order-company">
                    <label for="order-company">Company</label>
                </div>
                <div class="fade-input form-field half-width email-field">
                    <input type="email" name="order-email" id="order-email" required>
                    <label for="order-email">E-mail *</label>
                    <span class="invalid-input-msg">Please enter valid email address</span>
                </div>
                <div class="fade-input form-field half-width telefon-field">
                    <input type="tel" name="order-tel" id="order-tel">
                    <label for="order-tel">Telephone</label>
                </div>
                <div class="form-field full-width input-wrapper fade-input">
                    <span class="icon-keyboard_arrow_down input-icon"></span>
                    <span class="fake-input fake-select">
            <span class="fake-select-text nothing-selected" data-fakeval="null"></span>
            <span class="fake-options">
              <span class="f-opt">Web design</span>
              <span class="f-opt">Web development</span>
              <span class="f-opt">Web application</span>
              <span class="f-opt">Internet marketing</span>
              <span class="f-opt">Copywriting</span>
              <span class="f-opt">Graphic design</span>
            </span>
          </span>
                    <label for="order-project-type">Project type</label>
                    <input id="order-project-type" class="select-dropdown" type="text" name="order-project-type">
                    <span class="invalid-input-msg">This field is required</span>
                </div>
                <div class="form-field full-width input-wrapper fade-input">
                    <textarea name="order-message" id="order-message" required></textarea>
                    <span class="invalid-input-msg">This field is required</span>
                </div>
                <!-- No robot and terms -->
                <div class="form-field form-holder full-width order-norobot-field fade-input">
                    <!-- <div class="form-field half-width order-norobot">
                      <input id="order-norobot-order" type="checkbox" name="order-norobot-order">
                      <label for="order-norobot-order" class="fake-checkbox"><span class="icon-cross icon-cross-order-norobot"></span>Nisam robot</label>
                    </div> -->
                    <div class="form-field half-width order-norobot">
                        <input id="order-privacy-order" type="checkbox" name="order-privacy-order">
                        <label for="order-privacy-order" class="fake-checkbox"><span
                                    class="icon-cross icon-cross-order-privacy"></span>I agree with <a
                                    href="https://www.popwebdesign.net/privacy-policy.html" target="_blank">privacy policy</a>.</label>
                    </div>

                    <div class="form-field half-width submit-form-field fade-input">
                        <button type="submit" id="order_submit" class="fake-submit popart-btn">Submit</button>
                    </div>
                </div>
                <!-- No robot and terms END -->

                <div id="order-form-response" class="form-field full-width notification-field">
                    <p class="notification-message"></p>
                </div>
            </form>
        </div><!-- #order-form -->


        <!-- ***   CAREERS FORM   *** -->
        <div id="careers-form" class="order-form order-form-careers form-container">
      <span class="prev-form chose-btn" data-btn-type="close-form"><img
                  src="https://www.popwebdesign.net/assets/svg/undo.svg" alt="back btn" class="undo-img"></span>
            <p><span class="rev-text temp-hide">Join us!</span></p>

            <form class="clear" id="form-careers" enctype="multipart/form-data">

                <div class="fade-input form-field half-width full-name-field">
                    <input type='hidden' value="en" name="len" />
                    <input type="text" name="careers-name" id="careers-name" required>
                    <label for="careers-name">Full name *</label>
                    <span class="invalid-input-msg">This field is required</span>
                </div>
                <div class="fade-input form-field half-width email-field">
                    <input type="email" name="careers-email" id="careers-email" required>
                    <label for="careers-email">E-mail *</label>
                    <span class="invalid-input-msg">Please enter valid email address</span>
                </div>
                <div class="fade-input form-field half-width telefon-field">
                    <input type="tel" name="careers-tel" id="careers-tel">
                    <label for="careers-tel">Telephone</label>
                </div>
                <div class="fade-input input-wrapper form-field half-width">
          <span class="fake-input fake-select" data-required="required">
            <span class="icon-keyboard_arrow_down input-icon"></span>
            <span class="fake-select-text nothing-selected" data-fakeval="null"></span>
            <span class="fake-options">
              <span class="f-opt">UI/UX designer</span>
              <span class="f-opt">Community Manager</span>
              <span class="f-opt">Front-end Developer</span>
              <span class="f-opt">Back-end Developer</span>
              <span class="f-opt">Graphic Designer</span>
              <span class="f-opt">Copywriter</span>
              <span class="f-opt">SEO</span>
            </span>
          </span>
                    <label for="careers-job">Job vacancy *</label>
                    <input id="careers-job" class="select-dropdown" type="text" name="careers-job">
                    <span class="invalid-input-msg">This field is required</span>
                </div>
                <div class="fade-input form-field full-width input-wrapper">
                    <span class="icon-attachment input-icon"></span>
                    <span class="fake-input fake-input-file">Upload CV/Portfolio</span>
                    <input type="file" name="careers-file" id="careers-file" class="file-careers" multiple
                           accept=".doc, .docx, .pdf">
                    <!-- <input type="file" name="file_upload" id="file_upload"> -->
                </div>
                <div class="form-field full-width input-wrapper fade-input">
                    <textarea name="careers-message" id="careers-message" required></textarea>
                    <span class="invalid-input-msg">This field is required</span>
                </div>
                <!-- No robot and terms -->
                <div class="form-field form-holder full-width order-norobot-field fade-input">
                    <!-- <div class="form-field half-width order-norobot">
                      <input id="order-norobot-careers" type="checkbox" name="order-norobot-careers">
                      <label for="order-norobot-careers" class="fake-checkbox"><span class="icon-cross icon-cross-careers-norobot"></span>Nisam robot</label>
                    </div> -->
                    <div class="form-field half-width order-norobot">
                        <input id="order-privacy-careers" type="checkbox" name="order-privacy-careers">
                        <label for="order-privacy-careers" class="fake-checkbox"><span
                                    class="icon-cross icon-cross-careers-privacy"></span>I agree with <a
                                    href="https://www.popwebdesign.net/privacy-policy.html" target="_blank">privacy policy</a>.</label>
                    </div>

                    <div class="form-field half-width submit-form-field fade-input">
                        <button type="submit" id="careers_submit" name="careers_submit"
                                class="fake-submit popart-btn">Apply</button>
                    </div>
                </div>
                <!-- No robot and terms END -->

                <div id="careers-form-response" class="form-field full-width notification-field">
                    <p class="notification-message"></p>
                </div>
            </form>
        </div><!-- #careers-form -->

        <!-- ***   CONTACT FORM   *** -->
        <div id="contact-us-form" class="order-form order-form-contact form-container">
      <span class="prev-form chose-btn" data-btn-type="close-form"><img
                  src="https://www.popwebdesign.net/assets/svg/undo.svg" alt="back btn" class="undo-img"></span>
            <p><span class="rev-text temp-hide">We are here for you.</span></p>

            <form class="clear" id="form-contact">

                <div class="fade-input form-field half-width full-name-field">
                    <input type='hidden' value="en" name="len" />
                    <input type="text" name="contact-name" id="contact-name" required>
                    <label for="contact-name">Full name *</label>
                    <span class="invalid-input-msg">This field is required</span>
                </div>
                <div class="fade-input form-field half-width email-field">
                    <input type="email" name="contact-email" id="contact-email" required>
                    <label for="contact-email">E-mail *</label>
                    <span class="invalid-input-msg">Please enter valid email address</span>
                </div>
                <div class="form-field full-width input-wrapper fade-input">
                    <textarea name="contact-message" id="contact-message" required></textarea>
                    <span class="invalid-input-msg">This field is required</span>
                </div>

                <!-- No robot and terms -->
                <div class="form-field form-holder full-width order-norobot-field fade-input">
                    <!-- <div class="form-field half-width order-norobot">
                      <input id="order-norobot-contact" type="checkbox" name="order-norobot-contact">
                      <label for="order-norobot-contact" class="fake-checkbox"><span class="icon-cross icon-cross-contact-norobot"></span>Nisam robot</label>
                    </div> -->
                    <div class="form-field half-width order-norobot">
                        <input id="order-privacy-contact" type="checkbox" name="order-privacy-contact">
                        <label for="order-privacy-contact" class="fake-checkbox"><span
                                    class="icon-cross icon-cross-contact-privacy"></span>I agree with <a
                                    href="https://www.popwebdesign.net/privacy-policy.html" target="_blank">privacy policy</a>.</label>
                    </div>

                    <div class="form-field half-width submit-form-field fade-input">
                        <button type="submit" id="contact_submit" class="fake-submit popart-btn">Submit</button>
                    </div>
                </div>
                <!-- No robot and terms END -->

                <div id="contact-form-response" class="form-field full-width notification-field">
                    <p class="notification-message"></p>
                </div>
            </form>
        </div><!-- #contact-form -->
    </div><!-- .forms-wrapper -->

    <div class="contact-us-wrapper">
        <a href="javascript:;" id="contact-us" class="contact-us-btn"><span class="icon-write">
        <svg class="icon-write__email" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 14">
          <g data-name="Layer 2">
            <path fill="#fff"
                  d="M0 0v14h20V0zm10 7.37L3.71 2h12.58zm-4-.78l-4 4V3.17zm1.53 1.3L10 10l2.48-2.12L16.59 12H3.41zM14 6.59l4-3.42v7.42z"
                  data-name="Layer 1" />
          </g>
        </svg>

        <svg class="icon-write__hand" width="24" height="29" viewBox="0 0 24 29" fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <path fill="#fff"
                d="M23.1734 5.85024C22.8729 5.54032 22.5054 5.304 22.0995 5.15955C21.6936 5.0151 21.26 4.96638 20.8324 5.01716C20.4402 5.06321 20.0662 5.1882 19.7556 5.37509V5.04886C19.7556 3.54866 18.6583 2.28947 17.2036 2.11963C17.0913 2.10647 16.9784 2.09988 16.8653 2.09989C16.3443 2.09989 15.8418 2.23834 15.399 2.50178C15.2077 1.19774 14.1779 0.167904 12.8783 0.0160007C12.7661 0.00430012 12.6533 -0.000991124 12.5406 0.000152439C12.1612 -0.00122586 11.7853 0.0730134 11.4346 0.218575C11.084 0.364137 10.7655 0.578133 10.4977 0.848182C10.0517 1.29501 9.76343 1.87615 9.67675 2.50298C9.23449 2.23857 8.72923 2.09948 8.21464 2.10049C7.42913 2.10049 6.66952 2.41088 6.13097 2.95211C5.55731 3.52862 5.24162 4.25764 5.24162 5.0046V14.1021L4.85839 13.7133C4.31062 13.1712 3.62003 12.8848 2.86161 12.8848C2.48557 12.8841 2.11315 12.9584 1.7659 13.1034C1.41865 13.2484 1.10348 13.4612 0.838634 13.7295C0.310906 14.2583 0.0100607 14.9736 0.000465277 15.7225C-0.0128684 16.4669 0.260824 17.1875 0.764249 17.7337L6.60138 25.467L6.72486 27.0988C6.8049 28.1648 7.70108 29 8.76538 29L19.4822 28.9919C20.5045 28.9904 21.3754 28.2219 21.5084 27.2038L21.7649 25.2425C22.5614 23.9375 23.1416 22.2047 23.5385 19.9459C23.8488 18.1796 24 15.9919 24 13.2588V7.90243C23.9997 7.12557 23.7066 6.39685 23.1734 5.85024ZM6.8043 15.8983V5.0043C6.8043 4.28097 7.43122 3.66946 8.17388 3.66946C8.22356 3.66946 8.2679 3.67216 8.32324 3.67873C8.98646 3.75618 9.48632 4.34526 9.48632 5.04886V12.5534C9.48672 12.7747 9.57443 12.9868 9.73021 13.1432C9.886 13.2996 10.0972 13.3876 10.3174 13.3877C10.5399 13.3876 10.7534 13.2988 10.9109 13.1408C11.0684 12.9828 11.1571 12.7684 11.1576 12.5448V2.89679C11.1576 2.17345 11.7783 1.56195 12.5132 1.56195C12.5662 1.56195 12.6173 1.56494 12.6694 1.57122C13.3365 1.64926 13.8396 2.23804 13.8396 2.94104V12.5436C13.8401 12.7674 13.9289 12.982 14.0865 13.1402C14.2441 13.2983 14.4577 13.3873 14.6805 13.3874C15.1384 13.3874 15.5106 13.0136 15.5106 12.554V5.0043C15.5106 4.26841 16.1122 3.66946 16.8525 3.66946C16.907 3.66946 16.965 3.67275 17.0159 3.67873C17.6758 3.75588 18.1929 4.35781 18.1929 5.04886V12.5274C18.1929 12.999 18.5773 13.3823 19.0501 13.3823H19.062C19.5042 13.3823 19.8639 13.0238 19.8639 12.583V7.94669C19.8639 7.24369 20.3667 6.65491 21.0344 6.57686L21.0594 6.57387C21.0975 6.56939 21.1103 6.56759 21.1505 6.56759C21.8723 6.56759 22.4373 7.15368 22.4373 7.90243V13.2591C22.4373 18.6182 21.742 22.3115 20.3117 24.5499C20.2451 24.6543 20.2305 24.7679 20.2186 24.8603L19.96 26.9992C19.9276 27.2462 19.722 27.4328 19.4816 27.4331L8.76628 27.4529C8.51545 27.4529 8.3039 27.2504 8.28456 26.9924L8.13043 24.9285C8.12924 24.9177 8.12627 24.8875 8.10306 24.8579L1.96542 16.7209L1.95381 16.7078C1.83169 16.5852 1.73496 16.4396 1.66923 16.2792C1.60349 16.1189 1.57007 15.947 1.57088 15.7736C1.57088 15.4196 1.70685 15.0883 1.95381 14.8401C2.07561 14.7173 2.22041 14.62 2.37986 14.5539C2.53931 14.4877 2.71023 14.454 2.88273 14.4546C3.23472 14.4546 3.56469 14.5913 3.81433 14.8419L5.54184 16.4811C5.7043 16.6354 5.85455 16.7009 6.04379 16.7009C6.4773 16.7015 6.8043 16.3564 6.8043 15.8983V15.8983Z" />
        </svg>

        <svg class="icon-write__write" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
          <path fill="#fff"
                d="M27 0a5 5 0 0 1 4 8l-2 2-7-7 2-2c.836-.628 1.874-1 3-1zM2 23l-2 9 9-2 18.5-18.5-7-7L2 23zm20.362-11.638l-14 14-1.724-1.724 14-14 1.724 1.724z" />
        </svg>

        <svg class="icon-write__x" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path
                  d="M19 4q.43 0 .715.285T20 5q0 .422-.289.711L13.414 12l6.297 6.289Q20 18.578 20 19q0 .43-.285.715T19 20q-.422 0-.711-.289L12 13.414l-6.289 6.297Q5.422 20 5 20q-.43 0-.715-.285T4 19q0-.422.289-.711L10.586 12 4.289 5.711Q4 5.422 4 5q0-.43.285-.715T5 4q.422 0 .711.289L12 10.586l6.289-6.297Q18.578 4 19 4z" />
        </svg>
      </span></a>
    </div>
</div><!-- .pop-up-wrapper --><script src="{{ asset('js/jquery-3.1.1.min.js') }}">
</script>



<div class="cookie-law">
    <div class="cookie-law-text-wrap">
        <span class="cookie-law-headline">This website use cookies.&nbsp;</span>
        <span class="cookie-law-text">
      We use cookies for internal purposes only to help us to provide you with a better user experience. &nbsp;<a class="cookie-law-link" href="https://www.popwebdesign.net/cookie-policy.html">Cookie policy</a>

    </span>
    </div>
    <div class="cookie-law-button-wrapper">
        <span class="cookie-law-button cookie-law-button-decline">Decline</span>
        <span class="cookie-law-button cookie-law-button-accept">Accept</span>
    </div>

    <script>
        var buttonAllow = document.querySelector('.cookie-law-button-accept');
        var buttonDecline = document.querySelector('.cookie-law-button-decline');

        function removeScript() {
            document.querySelector('.cookie-law').parentNode.removeChild(document.querySelector('.cookie-law'));
        }

        function ses(data) {
            $.ajax({
                url: '../site-parts/session-cookies.php',
                type: 'POST',
                datatype: 'json',
                data: data,
                success: function(data) {
                    if (parseInt(data) === 0) {
                        // return and do nothing
                        document.querySelector('.cookie-law').classList.remove('is-visible');
                        return false;
                    } else if (parseInt(data) === 1) {
                        // return and load script for google analytics
                        document.querySelector('.cookie-law').classList.remove('is-visible');

                        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                        ga('create', 'UA-8128067-1', 'auto');
                        ga('set', 'anonymizeIp', true);
                        ga('send', 'pageview');
                    } else {
                        // return the coockie policy popup and do not load any script
                        if (localStorage.getItem("page")) {
                            document.querySelector('.cookie-law').classList.add('is-visible');
                        } else {
                            setTimeout(function() {
                                document.querySelector('.cookie-law').classList.add('is-visible');
                            }, 3000);
                        }
                    }
                }
            });
        }

        ses({"action": "none"});
        buttonDecline.addEventListener('click', function() {
            ses({"action": "decline"});
        });
        buttonAllow.addEventListener('click', function() {
            ses({"action": "agree"});
        });

    </script>
</div>
<!-- PLUGINS FOR HORIZONTAL SCROLL -->