<div id="newsletter-subscribe" class="newsletter-section">
    <!-- Begin MailChimp Signup Form -->
    <!-- <div id="mc_embed_signup">
        <form action="//popwebdesign.us10.list-manage.com/subscribe/post?u=ad7a1ecba74f292481c89344f&amp;id=17620793c6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <div class="mc-field-group">
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Prijavite se na nas Newsletter i budite u toku">
                </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>     -->
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <!-- <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ad7a1ecba74f292481c89344f_17620793c6" tabindex="-1" value=""></div>
    <div class="clear"><span class="popart-btn"><input type="submit" value="Prijavi se" name="subscribe" id="mc-embedded-subscribe"></span></div>
</div>
</form>
</div> -->

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
        <!-- <form action="https://valervarga.us17.list-manage.com/subscribe/post-json?u=aa609722c9cf6fdb9b398a566&amp;id=5857fac6fb&amp;c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate> -->
        <form action="https://popwebdesign.us10.list-manage.com/subscribe/post-json?u=ad7a1ecba74f292481c89344f&amp;id=17620793c6&amp;c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <h2>Subscribe to our mailing list</h2>
                <div class="mc-field-group">
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_aa609722c9cf6fdb9b398a566_5857fac6fb" tabindex="-1" value=""></div>
                <div class="clear"><span class="newsletter-fake-submit popart-btn">Subscribe</span></div>
                <!-- <div class="clear"><span class="popart-btn"><input type="submit" value="Prijavi se" name="subscribe" id="mc-embedded-subscribe" class="button"></span></div> -->
            </div>
        </form>
    </div>
    <!--End mc_embed_signup-->


    <!-- <script type='text/javascript' src='/s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script> -->
    <!--End mc_embed_signup-->
</div><!-- .newsletter-section -->
<div class="newsletter-message newsletter-success">
    <div class="newsletter-card">
        <!-- <img class="newsletter-card-image" src="images/logo/preloader.svg" alt="PopArt Studio"> -->
        <svg class="newsletter-card-image" viewBox="0 0 153.23 153.14">
            <g data-name="Layer 2">
                <g data-name="Layer 1">
                    <path d="M153.23 76.64c-.33 42.7-34.2 76.51-76.65 76.5A76.57 76.57 0 1 1 76.72 0c42.4.07 76.28 33.9 76.51 76.64zM7.89 76.58c-.19 38.16 31.57 68.84 68.91 68.73s68.62-31.16 68.53-68.93c-.08-37.18-30.78-68.75-69-68.52-37.84.23-68.56 30.99-68.44 68.72z" class="cls-1"/>
                    <path d="M73.54 65.71h-15A11.85 11.85 0 0 1 56 42.31a11.5 11.5 0 0 1 2.56-.31H86.4a3.66 3.66 0 0 1 3.84 2.93A3.55 3.55 0 0 1 88 49a6.2 6.2 0 0 1-2.11.3h-27a4.5 4.5 0 0 0-4.76 4.7A4.45 4.45 0 0 0 58 58.33a11.42 11.42 0 0 0 1.55.07h29a11.85 11.85 0 1 1 .62 23.69c-4.6.07-9.2-.08-13.8 0-9 .22-15.5 4.43-19.46 12.51a18.68 18.68 0 0 0-1.84 8v5.28a4.54 4.54 0 0 0 9.08.15c.06-1.39 0-2.79 0-4.19A13.57 13.57 0 0 1 77 89.93h13.2A20.32 20.32 0 0 0 98.48 51l-.48-.2a3.66 3.66 0 1 1 3-6.69 27.62 27.62 0 0 1-11 53.1H77.4c-4.33 0-6.91 2.62-6.89 7v4a11.87 11.87 0 0 1-23.73-.09c0-4.24-.1-8.46 1.1-12.61a28.61 28.61 0 0 1 27.2-20.62H89a4.54 4.54 0 0 0 1.18-8.92 6.55 6.55 0 0 0-1.66-.17z" class="cls-1"/>
                </g>
            </g>
        </svg>
        <h3 class="newsletter-card-title">Thanks!</h3>
        <p class="newsletter-card-description">You have been successfully subscribed to our newsletter.</p>
        <span class="newsletter-card-close-button" data-text="Close"><span>Close</span></span>
    </div>
</div>
<div class="newsletter-message newsletter-error">
    <div class="newsletter-card">
        <!-- <img class="newsletter-card-image" src="images/logo/preloader.svg" alt="PopArt Studio"> -->
        <svg class="newsletter-card-image" viewBox="0 0 153.23 153.14">
            <g data-name="Layer 2">
                <g data-name="Layer 1">
                    <path d="M153.23 76.64c-.33 42.7-34.2 76.51-76.65 76.5A76.57 76.57 0 1 1 76.72 0c42.4.07 76.28 33.9 76.51 76.64zM7.89 76.58c-.19 38.16 31.57 68.84 68.91 68.73s68.62-31.16 68.53-68.93c-.08-37.18-30.78-68.75-69-68.52-37.84.23-68.56 30.99-68.44 68.72z" class="cls-1"/>
                    <path d="M73.54 65.71h-15A11.85 11.85 0 0 1 56 42.31a11.5 11.5 0 0 1 2.56-.31H86.4a3.66 3.66 0 0 1 3.84 2.93A3.55 3.55 0 0 1 88 49a6.2 6.2 0 0 1-2.11.3h-27a4.5 4.5 0 0 0-4.76 4.7A4.45 4.45 0 0 0 58 58.33a11.42 11.42 0 0 0 1.55.07h29a11.85 11.85 0 1 1 .62 23.69c-4.6.07-9.2-.08-13.8 0-9 .22-15.5 4.43-19.46 12.51a18.68 18.68 0 0 0-1.84 8v5.28a4.54 4.54 0 0 0 9.08.15c.06-1.39 0-2.79 0-4.19A13.57 13.57 0 0 1 77 89.93h13.2A20.32 20.32 0 0 0 98.48 51l-.48-.2a3.66 3.66 0 1 1 3-6.69 27.62 27.62 0 0 1-11 53.1H77.4c-4.33 0-6.91 2.62-6.89 7v4a11.87 11.87 0 0 1-23.73-.09c0-4.24-.1-8.46 1.1-12.61a28.61 28.61 0 0 1 27.2-20.62H89a4.54 4.54 0 0 0 1.18-8.92 6.55 6.55 0 0 0-1.66-.17z" class="cls-1"/>
                </g>
            </g>
        </svg>
        <h3 class="newsletter-card-title">Oops!</h3>
        <p class="newsletter-card-description">Please enter a valid email address.</p>
        <span class="newsletter-card-close-button" data-text="Close"><span>Close</span></span>
    </div>
</div>
<div class="newsletter-message newsletter-norobot">
    <div class="newsletter-card newsletter-norobot-card">
        <h3 class="newsletter-card-title newsletter-norobot-title">Enter the following letters.</h3>
        <p class="newsltter-norobot-id"></p>
        <input class="no-robot-input" type="text">


        <script>
            // $('.no-robot-input').on('copy paste cut', function(e) {
            //     e.preventDefault();
            // });
            // </script>
        <span class="norobot-notification">Invalid Captcha Code</span>
        <span class="newsletter-norobot-button newsletter-norobot-check-button" data-text="Subscribe"><span>Subscribe</span></span>
        <span class="newsletter-norobot-button newsletter-norobot-close-button" data-text="Close"><span>Close</span></span>
    </div>
</div>